{% extends 'base.html.twig' %}

{% block title %}Épisode de la saison{% endblock %}

{% block body %}
    <h1>Épisode {{ season.number }} </h1>
       
        <div>
            <h2> {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
        </div>
        
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}